{% extends "main/base.html" %}
{% block title %}Privacy{% endblock %}
{% block og_title %}Privacy{% endblock %}
{% block og_description %}Our privacy policy, and compliance information{% endblock %}
{% block content %}
    <div class="uk-section">
        <div class="uk-container uk-container-small">
            <article class="uk-article">
                <h1 class="uk-article-title hover-title" id="top">
                    Privacy

                    <a href="#top" class="uk-text-primary" title="Permanent link to this header">
                        <i class="fas fa-paragraph" data-fa-transform="shrink-8"></i>
                    </a>
                </h1>
                <p class="uk-article-meta">
                    Stay safe out there
                </p>

                <p>
                    We take every step to ensure that your data is used ethically and that includes making sure that
                    you know exactly what data we collect, and what we do with it. That means that instead of a
                    bunch of legalese, we've provided this information in an easy, human-readable form below.
                </p>

                <p>
                    Please note that we are a completely non-profit community. We have no interest in selling your
                    data, or shipping it off to third parties. Our community is entirely volunteer-run - it does
                    not have any form of monetary income whatsoever - and we believe that this is how it should be.
                </p>

                <h3>Data collection</h3>

                <table class="uk-table uk-table-divider uk-table-striped uk-table-small table-bordered" id="data-collection-table">
                    <thead>
                        <tr class="thick-bottom-border">
                            <th>What we collect</th>
                            <th class="uk-table-shrink">When</th>
                            <th>What it's used for</th>
                            <th>Who can access it</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Discord user ID</td>
                            <td class="uk-table-shrink"><strong>self.accept()</strong> run on Discord</td>
                            <td>Statistics, data association (infractions, code jam applications, etc)</td>
                            <td>Administrative staff</td>
                        </tr>
                        <tr>
                            <td>Discord username and discriminator</td>
                            <td class="uk-table-shrink"><strong>self.accept()</strong> run on Discord</td>
                            <td>Display purposes (alongside ID in staff areas, public profiles)</td>
                            <td>Public, for code jam team listings and winner info</td>
                        </tr>
                        <tr>
                            <td>Discord avatar URLs</td>
                            <td class="uk-table-shrink"><strong>self.accept()</strong> run on Discord</td>
                            <td>Display purposes (public profiles)</td>
                            <td>Public, for code jam team listings and winner info</td>
                        </tr>
                        <tr>
                            <td>Assigned roles on Discord</td>
                            <td class="uk-table-shrink"><strong>self.accept()</strong> run on Discord</td>
                            <td>Access control for the site</td>
                            <td>Administrative staff</td>
                        </tr>
                        <tr class="thick-bottom-border">
                            <td>Messages sent on Discord</td>
                            <td class="uk-table-shrink"><strong>self.accept()</strong> run on Discord</td>
                            <td>
                                Stored in memory by the bot for processing temporarily, no message content reaches
                                the database unless you're using a bot command that interfaces with the site - May be
                                temporarily written to a log file for debugging purposes
                            </td>
                            <td>N/A</td>
                        </tr>

                        <tr class="thick-bottom-border">
                            <td>OAuth access and refresh token</td>
                            <td class="uk-table-shrink">Discord login on site</td>
                            <td>Used to find your Discord user ID when you log in</td>
                            <td>Administrative staff</td>
                        </tr>

                        <tr>
                            <td>GitLab username</td>
                            <td class="uk-table-shrink">Code jam profile</td>
                            <td>Used to identify you on GitLab as part of a code jam team</td>
                            <td>Public, for code jam team listings</td>
                        </tr>
                        <tr class="thick-bottom-border">
                            <td>Timezone</td>
                            <td class="uk-table-shrink">Code jam profile</td>
                            <td>A factor in code jam team match-ups</td>
                            <td>Administrative staff</td>
                        </tr>

                        <tr>
                            <td>System Information</td>
                            <td class="uk-table-shrink">Code jam signup</td>
                            <td>Used to verify that you have a working environment</td>
                            <td>Administrative staff</td>
                        </tr>
                    </tbody>
                </table>

                <h1 class="uk-article-title hover-title" id="consent">
                    Collecting consent

                    <a href="#consent" class="uk-text-primary" title="Permanent link to this header">
                        <i class="fas fa-paragraph" data-fa-transform="shrink-8"></i>
                    </a>
                </h1>

                <p>
                    If you joined the community on or before the <strong>20th of May, 2018</strong>, you will have seen an announcement about our
                    privacy policy on the Discord server. You will have had the opportunity to leave the server if
                    you weren't happy with it. If you decided to stay, then we will consider you to have accepted
                    our use of your data, as detailed on this page.
                </p>
                <p>
                    If you joined the community after the <strong>20th of May, 2018</strong>, you will have been greeted with the
                    <code>#checkpoint</code> channel. In this channel, you must run the <code>self.accept()</code>
                    command to signify that you accept both our rules and this privacy policy. This will also have been
                    detailed in a message in that channel.
                </p>
                <p>
                    Please note that your acceptance of this privacy policy is retroactive, and you agree that any
                    revisions to it will apply when they are published. We will attempt to keep everyone updated on
                    changes to this policy via the usual announcement channels - if at any point you are not happy with
                    a change to the privacy policy, please bring it up with a member of staff. If we're unable to
                    solve your issue in a satisfactory way, you may remove your data as detailed below.
                </p>

                <h1 class="uk-article-title hover-title" id="removal">
                    Data removal

                    <a href="#removal" class="uk-text-primary" title="Permanent link to this header">
                        <i class="fas fa-paragraph" data-fa-transform="shrink-8"></i>
                    </a>
                </h1>

                <p>
                    If you'd like to remove your data from our servers, there are two options available to you.
                </p>

                <div class="uk-grid uk-grid-match" uk-grid>
                    <div class="uk-width-1-2@m">
                        <div class="uk-card uk-card-default uk-card-small">
                            <div class="uk-card-header">
                                <h3 class="uk-card-title">Complete data removal</h3>
                            </div>

                            <div class="uk-card-body">
                                <p>
                                    If you'd like to remove all of your personal data from our servers, all you need to do
                                    is leave the Discord server. As much of the data we collect is necessary for running
                                    our community, we are unable to offer you community membership with zero data collection.
                                </p>
                                <p>
                                    Once you've left the Discord server, your data is removed automatically. Please note that
                                    for the sake of data integrity and moderation purposes, we do not remove your Discord
                                    user ID from our database - but we do anonymize your data as far as possible.
                                </p>
                                <p>
                                    As with deleting your code jam profile directly, you will be issued an automatic ban
                                    from future code jams if you have applied for or are currently taking part in a
                                    code jam.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="uk-width-1-2@m">
                        <div class="uk-card uk-card-default uk-card-small">
                            <div class="uk-card-header">
                                <h3 class="uk-card-title">Code jam profile removal</h3>
                            </div>

                            <div class="uk-card-body">
                                <p>
                                    If you've provided us with a code jam profile in the past and would like to remove
                                    it, you may do so by heading to the
                                    <a href="{{ url_for("main.jams.profile") }}">"My Profile" page</a>,
                                    where you will find a button that will remove your profile.
                                </p>
                                <p>
                                    Please note that this is a nuclear option. If you have applied for or are currently
                                    taking part in a code jam, this will void your application and you will receive an
                                    automatic ban from future code jams until you've contacted us about it.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <h1 class="uk-article-title hover-title" id="gdpr">
                    GDPR compliance

                    <a href="#gdpr" class="uk-text-primary" title="Permanent link to this header">
                        <i class="fas fa-paragraph" data-fa-transform="shrink-8"></i>
                    </a>
                </h1>
                <p class="uk-article-meta">
                    Keeping your data under your control
                </p>

                <p>
                    Under the terms specified above, we do aim to comply with GDPR. While we do not currently have
                    an automated way for users to export the data they've provided to us, we're happy to do this
                    manually or answer any other GDPR- or privacy-related queries you may have. Feel free to contact
                    our GDPR officer on Discord (<code>gdude#2002</code>), or any other member of the administrative
                    staff.
                </p>
                <p>
                    We believe that the best way to keep your personal data safe is to avoid collecting it at all.
                    Discord itself is GDPR-compliant and they've already done the legwork required to ensure that
                    your data may be collected - so we don't see the need to collect your personal information
                    ourselves. Don't forget that by using Discord, you are stating that you are of legal age in
                    your country to give consent to process your data!
                </p>
                <p>
                    We are currently working on an automated way to get all of your data in both a human-readable
                    and machine-readable format. Keep your eye on the usual announcements channels for more information
                    on that, as it happens.
                </p>

                <h1 class="uk-article-title hover-title" id="changelog">
                    Changelog

                    <a href="#changelog" class="uk-text-primary" title="Permanent link to this header">
                        <i class="fas fa-paragraph" data-fa-transform="shrink-8"></i>
                    </a>
                </h1>
                <p class="uk-article-meta">
                    Accountability, for the masses
                </p>

                <ul class="uk-list uk-list-divider">
                    <li>
                        <h4>June 7th, 2018</h4>
                        <p>
                            We no longer collect GitHub usernames - instead, we collect GitLab usernames. Additionally,
                            we now collect user avatar URLs for display purposes.
                        </p>
                    </li>
                    <li>
                        <h4>June 5th, 2018</h4>
                        <p>
                            Rectified an omission in the old privacy policy, where the system information you provide
                            as part of a code jam signup wasn't mentioned.
                        </p>
                    </li>
                    <li>
                        <h4>May 31st, 2018</h4>
                        <p>
                            We no longer collect your date of birth, and all collected dates of birth have been
                            removed from our database. The reason for this is that Discord itself already complies with
                            GDPR - and in order for you to sign up for a code jam, you must already have a Discord
                            account.
                        </p>
                    </li>
                    <li>
                        <h4>May 20th, 2018</h4>
                        <p>
                            Completed the first version of our privacy policy. We also updated our OAuth scopes for
                            Discord logins - we no longer collect your email, or get the access to join you to servers
                            automatically. All collected emails have also been removed from the database.
                        </p>
                    </li>
                </ul>
            </article>
        </div>
    </div>
{% endblock %}
