$page_classes: (
  page-main-jams-index,
);

@each $class in $page_classes {
  .#{$class} {
    .date-separator {
      vertical-align: middle;
    }

    .theme-label {
      margin-top: 3px;
    }
  }
}
